# Файлы настроек VS Code
.vscode/

# Файлы настроек окружения
.env

# Папка сборки
dist/

# Папка node_modules
node_modules/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Системные файлы
.DS_Store
Thumbs.db
